@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#order-modal {
  margin-top: 5em;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
}

.order-modal__content {
  background: #fff;
  width: 40%;
  height: calc(100vh - 5em);
  margin-left: auto;
  margin-right: 0;
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 1.5em;
  padding-bottom: 2em;
}

button[aria-label="Close"] {
  border: none;
  background: none;
  display: block;
  margin-left: auto;
  margin-bottom: 1em;
}

#order-modal section h3 {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.products {
  max-height: 40vh;
  overflow-y: scroll;
}

.order-product {
  display: flex;
  margin: 1.5em 0;
  padding-bottom: 1.5em;
  border-bottom: solid 2px #c4c4c4;
  width: 95%;
  align-items: center;
}

.product-image {
  height: 5em;
  width: 5em;
  border: 2px solid black;
  border-radius: 1em;
  margin-right: 1em;
}

.product-info {
  flex-grow: 1;
}

.name-size {
  display: flex;
  justify-content: space-between;
}

p[aria-label="size"] {
  margin-right: 1em;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 1em;
}

#checkout {
  margin-top: 2em;
}

#checkout p {
  width: 95%;
  margin-left: 0.2em;
  display: flex;
  justify-content: space-between;
}

#checkout button {
  border: 3px solid #9e5b8e;
  display: block;
  background: #9e5b8e;
  color: white;
  font-size: 1.5em;
  padding: 0.5em 2em;
  margin: 1em auto 0;
  border-radius: 1em;
  box-sizing: border-box;
}

#checkout button:hover {
  border: 3px solid #9e5b8e;
  background: white;
  color: black;
  transition: 0.3s;
}
